/* Media Queries */

@media (min-width: 1000px) {
  #recentTracks-SM {
    display: none;
  }
}
@media (max-width: 1300px) {
  #sidebar {
    width: 40%!important;
    padding-right: 0px;
  }

  .song-info {
    display: none;
  }

  #main-body {
    width: 60%!important;
    left: 0px;
  }

  .lyrics-body {
    display: flex;
    padding: 0px;
  }

  .lyrics p {
    width: 100%;
    margin: 0px;
  }

  .ui.container.body {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lyrics .lyrics-overlay {
    display: none;
    bottom: 0px;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  #sidebar {
    display: none;
  }

  #main-body {
    width: 100%!important;
  }
  #main-body, .ui.centered.padded.grid .centered.row {
    padding: 0px;
  }

  .song-info-small {
    display: inherit;
  }

  #main-body .halogen-loader {
    height: 85%;
    width: 100%;
  }

  .main-menu .right.menu .item.hide-btn, .main-menu .right.menu .item.refresh-btn {
    display: none;
  }

  .main-menu .right.menu .item.content-btn {
    display: inherit;
  }

  .ui.centered.padded.grid {
    min-height: calc(100vh - 100px);
  }
}

@media (max-width: 1000px) and (min-height: 825px) {
  body {
    overflow-y: hidden;
  }
}

@media (max-width: 700px) {
  .main-menu .right.menu .item {
    padding: 0 25px;
  }
}

@media (max-width: 450px) {
  #main-body .halogen-loader {
    height: 80%;
  }
}