body {
  color: #222;
  background-color: #f4f4f4;
  margin: 0px;
}

.main-menu {
  background-color: #71787b;
}

.main-menu .ui.action.icon.input input {
  width: 220px;
  border-radius: 0px;
}

.main-menu .ui.action.icon.input input:focus {
  width: 220px;
  border-radius: 0px;
  border-color: white;
  border-right-color: white!important;
}

.main-menu .ui.container.menu {
  background-color: #3a3f41;
}

.ui.container {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  border-radius: 0px;
}

.ui.container.menu {
  min-height: 60px;
}

.ui.container.body {
  min-height: calc(100vh - 60px);
  border-top: none;
  border-bottom: 0px;
}

#spinner {
  margin-top: -4px;
  position: absolute;
}

.ui.icon.input>i.spinner.icon {
  right: 35px;
}

.lyrics-body {
  display: flex;
  padding: 20px;
}

.ui.centered.padded.grid {
  min-height: calc(100vh - 125px);
}

.lyrics {
  text-align: center;
  width: 100%;
  max-width: 861px;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.lyrics p {
  max-height: calc(90vh - 186px);
  width: 80%;
  margin: 0 auto;
  font-size:20px;
  line-height: 1.6;
  white-space: pre-wrap;
  word-break: break-word;
}

.lyrics .lyrics-overlay {
  width: 58%;
  align-self: flex-end;
  display: block;
  height: 100px;
  position: absolute;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 73%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 73%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#body-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: rgba(255, 255, 255, 0.82);
  margin: auto;
}

.halogen-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.recent-tracks .halogen-loader {
  height: 100%;
  width: 100%;
  margin-top: 2px;
  margin: auto;
  background: rgba(255, 255, 255, 0.82);
  right: 0px;
}

.lyrics .halogen-loader {
  height: 72.6%;
  width: 60%;
  left: 30%;
  margin: auto;
  background: rgba(255, 255, 255, 0.82);
}

.now-playing .halogen-loader {
  right: 25px;
}

.recent-tracks .list.item .ui.list {
  padding: 0 0 0 5px!important;
}

.recent-tracks a.item:hover {
  background-color: #ececec;
}

.recent-tracks a.item.active {
  background-color: #cacaca;
}

.now-playing .np-item {
  background-color: #fffadd;
  padding-top: 3px;
  padding-bottom: 3px;
}

.twelve.wide.column.ui.segment {
  height: 100%
}

.ui.large.divided.relaxed.middle.aligned.list {
  margin-top: 0px;
}

.recent-tracks .ui.attached.segment.tracks {
  min-height: 470px;
  padding-top: 0;
  padding-bottom: 0;
}

.recent-tracks .content.list.item, .now-playing .content.list.item {
  max-width: 285px;
}

.now-playing .ui.top.attached.header {
  display: flex;
  align-items: center;
}

.now-playing .ui.top.attached.header p {
  margin-bottom: 0px;
}

#now-playing-hide-btn {
  font-size: 13px;
}

.ui.bottom.attached.buttons {
  margin-top: 0px;
}

.song-info .song-details .songArtist {
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 6px;
  display: inline;
}

.artist-lastfm-page {
  display: none;
}

.ui.icon.button, .ui.attached.header,
.ui.teal.button:hover, .ui.teal.button:active,
.ui.teal.button:focus {
  background-color: #71787b;
  color: white;
}

.song-info:hover .artist-lastfm-page {
  display: inline-block;
  margin-right: -2px;
}

.song-info:hover .artist-lastfm-page> i {
  font-weight: bold;
  padding-left: 5px;
}

.song-info .song-details .songTitle {
  font-size: 17px;
  max-width: 240px;
}

.main-menu .right.menu .logout-btn {
  padding: 0 30px;
}

.ui.relaxed.list:not(.horizontal)>.item {
  padding-bottom: .42857143em;
  padding-top: .42857143em;
  margin-left: -14px;
  margin-right: -14px;
  padding-left: 14px;
}

.now-playing .np-item .item .ui.list {
  padding-top: 0px;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e0e1e2;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7579;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

::-webkit-scrollbar-button {
  background-color: #a0a0a0;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background-color: white;
}

.footer {
  display: flex;
  color: #949494;
}

.footer span {
  width: 50%;
}

.footer a {
  color: inherit;
}

.footer i.github.icon {
  margin-right: 0px;
}

@media (max-width: 1200px) {
  #sidebar {
    width: 40%!important;
    padding-right: 0px;
  }

  .song-info {
    display: none;
  }

  #main-body {
    width: 60%!important;
    left: 0px;
  }

  .lyrics-body {
    display: flex;
    padding: 0px;
  }

  .lyrics p {
    width: 100%;
    margin: 0px;
  }

  .ui.container.body {
    min-height: 90vh;
  }

  .lyrics .lyrics-overlay {
    display: none;
  }
}

@media (max-width: 1000px) {
  #sidebar {
    display: none;
  }

  #main-body {
    width: 100%!important;
  }
  #main-body, .ui.centered.padded.grid .centered.row {
    padding: 0px;
  }

  .lyrics p {
    max-height: calc(95vh - 120px);
  }
}

@media (max-width: 1000px) and (min-height: 825px) {
  body {
    overflow-y: hidden;
  }
}

.footer-item {
  position: absolute;
  color: #a2a2a2;
  bottom: 6px;
}

.footer-item.left-item {
  font-family: 'Dancing Script', cursive;
}

.footer-item.right-item {
  right: 15px;
  cursor: pointer;
}

.footer-item.right-item:hover {
  color: #797979;
}